<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

    <body>

        <!-- Navigation -->
        <%- include('layouts/navbar'); -%>

            <!-- Page Header -->
            <header class="masthead">
                <!-- <div class="overlay"></div> -->
                <!-- <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <div class="site-heading">
                                <h1>HOSPITANICA</h1>
        
                            </div>
                        </div>
                    </div>
                </div> -->
            </header>

            <!-- Main Content -->
            <div id="header">
                <nav class="navbar navbar-expand-lg">
                    <h3>CONNECTION</h3>
                </nav>
            </div>
            <div class= "container-fluid">
                <div class= "row">
                    <div class ="col-sm-2">
                        <div class="box-messenger">12312</div>
                    </div>
                    <div class ="col-sm-8">
                        <div class="box-messenger">
                            <nav class="navbar navbar-expand-lg usernames">
                                <h4>Username</h4>
                            </nav>
                            <br>
                            <div class="container chat-box"></div>
                            <br>
                            <div class="container-fluid">
                                <form id="send-container">
                                    <input type="text" class="message-input" placeholder="Enter the messenge">
                                    <button type="submit" class="send-button">SEND</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class ="col-sm-2">
                        <div class="box-messenger">31231</div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <%- include('layouts/footer'); -%>
                <%- include('layouts/scripts'); -%>

    </body>

</html>